*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 28, 28);
}

.container{
    height: 16rem;
    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

button{
    width: 10rem;
    height: 3rem;
    background-color: greenyellow;
    color: black;
    border-radius: 50px;
}


.btn{
    width: 10rem;
    height: 3rem;
    background-color: greenyellow;
    color: black;
    border-radius: 50px;
    margin-top: 20px;
}

.popup{
    height: 16rem;
    width: 16rem;
    background-color: white;
    position: absolute;
    transform: scale(0.1);
    top: -300px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s linear;
}

.popup img{
    width: 30%;
    border-radius: 50%;
    position: absolute;
    top: -30px;
}

.show-popup{
 transform: scale(1);   
 top: 0px;
}